<!doctype html>
<html>
<head>
	<? include 'head' ?>
</head>
<body>
  	<div id="header">
		<img src="http://pickd.com/img/logo-174x216.png" width="100" height="400">
		<h1>this is your SWEET SOCIAL COMMUNITY</h1>
		<br/>
		<h2>Hiya, <%= @name %>, how you been?</h2>
	</div>
	<div id="nav" class="box">
		<ul>
			<li><a href="/index.erb">home</a></li>
			<li><a href="/connect.erb">connect</a></li>
			<li><a href="/search.erb">search</a></li>
			<li><a href="/profile.erb">profile</a></li>
		</ul>
	</div>
	<section id="calculator" class="box">
	<div id="blood_sugar" class="num_input">
	   	<h4>what was your most recent reading?</h4>
	   	<!-- numeric input field-->
   	</div>
   	<div id="stress" class="scale">
		<h4>stressed?</h4>
	   	<!-- sliding scale, 1-5 -->
   	</div>
   	<div id="exercise" class="scale">
	   	<h4>get any exercise today?</h4>
	   	<!-- sliding scale, 1-5 -->
   	</div>
   	<div id="sweets" class="return">
		<h3>your glucose is around #{return}.</h3>
		<!-- "post to your feed?" && "see trends" buttons -->
    </div>
	</section>
</body>
</html>