
<section id="calc" class="box">
   <div id="blood_sugar" class="num_input">
	   <h4>what was your most recent reading?</h4>
	   <!-- numeric input field-->
   </div>
   <div id="sress" class="scale">
	   <h4>stressed?</h4>
	   <!-- sliding scale, 1-5 -->
   </div>
   <div id="exercise" class="scale">
	   <h4>get any exercise today?</h4>
	   <!-- sliding scale, 1-5 -->
   </div>
   <div id="sweets" class="return">
    </div>
 </section>
	