<!doctype html>
<html>
  <head>
    <? include 'head' ?>
  </head>
  <body>
    <div id="header">
  		<img src="http://pickd.com/img/logo-174x216.png" width="100" height="400">
  		<h1>this is your SWEET SOCIAL COMMUNITY</h1>
  		<br/>
  		<h2>Hiya, <%= @name %>, how you been?</h2>
  	</div>
  	<div id="nav" class="box">
  		<ul>
  			<li><a href="/index.erb">home</a></li>
  			<li><a href="/connect.erb">connect</a></li>
  			<li><a href="/search.erb">search</a></li>
  			<li><a href="/profile.erb">profile</a></li>
  		</ul>
  	</div>
		<section id = "feed" class="box">
		  <h2>what's happenin'</h2>
        </section>
	   	<section id="post" class="box">
		   <h2>chime in</h2>
		   <div class="entry_field">
		   </div>
		   <div id="submit" class="button">
		   </div>
        </section>
        </section>  
  </body>
</html>