img
{
position:absolute;
left:5px;
top:5px;
z-index:-1;
}
body
{
background-color:gray;
background-position:fixed;
background-size:100%;
}
h1
{
margin-left:200px;
font-family:helvetica;
font-size:24px;
color:white;
}
h2
{
margin-left:150px;
}
ul
{
list-style-type:none;
margin:0;
padding:0;
}
li
{   
color:black;
}
a:link, a:visited
{
display:block;
width:20px;
padding:15px;
margin:10px;
font-weight:bold;
text-decoration:none;
border:1px solid black;
}
.box
{
background:white;
margin:10px;
padding:5px;
position:relative;
border:2px solid black;
border-radius:2%;    
}
#header
{
font-family:helvetica;
}
#nav
{
float:right;
}
#calculator
{
float:left;
margin-left:300px;
}
