img
{
position:absolute;
left:0px;
top:0px;
z-index:-1;
}
body
{
background:url("http://static.myopera.com/community/graphics/speeddials/Opera-	Background-Colored-Lights.jpg");
background-position:fixed;
background-size:100%;
}
h1
{
margin-left:200px;
font-family:helvetica;
font-size:24px;
color:white;
}
ul
{
list-style-type:none;
margin:0;
padding:0;
    position:absolute;
}
li
{
float:left;    
    color:white
}
a
{
display:block;
width:60px;
}
.box
{
background:white;
margin:30px;
    padding:2px;
position:relative;
border:10px red;
border-radius:5%;    
}